<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Mong Ramos Jr. on 12/17/17 7:45 AM
  ~
  ~ Copyright (c) 2017 Brainbox Inc. All rights reserved.
  ~
  ~ Last modified 12/16/17 5:31 PM
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brainbox.a3d2nworld">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_3d2n_world_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SignUpActivity"
            android:label="@string/title_signup"
            android:parentActivityName=".activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brainbox.a3d2nworld.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.FirstTimeSignupActivity"
            android:label="@string/title_signup"/>
        <activity
            android:name=".activity.BlogsActivity"
            android:label="@string/title_blogs"/>
        <activity
            android:name=".activity.CartActivity"
            android:label="@string/title_cart" />
        <activity
            android:name=".activity.ResortsActivity"
            android:label="@string/title_resorts"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.DealsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainFragmentActivity"
            android:label="@string/title_home" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brainbox.a3d2nworld.activity.DealsActivity" />
        </activity>
        <activity
            android:name=".activity.DealActivity"
            android:label="@string/title_deal"
            android:parentActivityName=".activity.DealsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="www.3d2nworld.com"
                    android:scheme="http" />

                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brainbox.a3d2nworld.activity.DealsActivity" />
        </activity>
        <activity
            android:name=".activity.ResortActivity"
            android:label="@string/title_resort"
            android:parentActivityName=".activity.ResortsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="www.3d2nworld.com"
                    android:scheme="http" />

                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brainbox.a3d2nworld.activity.ResortsActivity" />
        </activity>
        <activity
            android:name=".activity.BlogActivity"
            android:label="@string/title_resort"
            android:parentActivityName=".activity.BlogsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="www.3d2nworld.com"
                    android:scheme="http" />

                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brainbox.a3d2nworld.activity.BlogsActivity" />
        </activity>
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.VouchersActivity"></activity>
    </application>

</manifest>