<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Mong Ramos Jr. on 8/26/17 9:33 PM
  ~
  ~ Copyright (c) 2017 Brainbox Inc. All rights reserved.
  ~
  ~ Last modified 8/26/17 2:46 PM
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brainbox.a3d2nworld">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_3d2n_world_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ResortsActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.DealsActivity"
            android:label="@string/title_activity_deals"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>